APP_ENV=dev

DB_HOST=mysql
DB_PORT=3306
DB_NAME=videgrenierenligne
DB_USER=app_user
DB_PASSWORD=changeme

MYSQL_ROOT_PASSWORD=changeme_root

APP_PORT=8080
APP_PORT_RECETTE=8081
APP_PORT_PROD=8082
DB_PORT_EXPOSE=3306

envMAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=ton_user_mailtrap
MAILTRAP_PASS=ton_pass_mailtrap
MAILTRAP_FROM=noreply@videgrenierenligne.fr